@use "../colors.scss";
@use "../common.scss";

.Clock {
	transition: background-color common.$transition-time;
	background-color: colors.$background-primary-trans;
	border-radius: 15px;

	padding: 0 16px;

	.Time {
		font-size: 10pt;
	}

	.Date {
		font-size: 7.5pt;
		margin-top: -4px;
	}
}
