$spacing: 8px;
$image-size: 58px;
$icon-size: 24px;

.Notification {
	border-radius: $border-radius;
	color: $foreground-primary;
	background-color: $background-primary-trans;
	font-size: 9pt;

	margin-bottom: $spacing;
	padding: $spacing;

	&.Critical {
		border: 1px solid lightcoral;
	}

	.TopBar {
		margin-bottom: $spacing;

		.Icon {
			margin-right: 4px;
			font-size: $icon-size;
		}

		.AppName {
			font-size: 11pt;
		}

		.Close {
			transition: background-color $transition-time;

			font-size: $icon-size;
			background-color: $background-secondary-trans;
			border-radius: 100%;

			&:hover {
				background-color: $background-focused-trans;
			}
		}
	}

	.Content {
		.TextContent {
			.Title {
				font-size: 12pt;
			}
		}

		.Image {
			margin-left: $spacing;

			border-radius: 8px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			min-width: $image-size;
			min-height: $image-size;
		}
	}

	.Actions {
		margin-top: $spacing;

		.ActionButton {
			transition: background-color $transition-time;

			background-color: $background-secondary-trans;
			border-radius: $border-radius;

			font-size: 10pt;

			margin: 0 calc(#{$spacing} / 2);

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				background-color: $background-focused-trans;
			}
		}
	}
}
