$spacing: 8px;
$primary-font-size: 12pt;
$secondary-font-size: 10pt;

.Notifications {
	margin: 5px;
	min-width: 2px;
	min-height: 2px;

	.Notification {
		border-radius: $border-radius;
		background-color: $background-primary;
		color: $foreground-primary;
		font-size: $secondary-font-size;

		min-width: 300px;
		margin-bottom: $spacing;
		padding: $spacing;

		&.Critical {
			border: 1px solid lightcoral;
		}

		.Title {
			font-size: $primary-font-size;
		}

		.Close {
			transition: background-color $transition-time;

			min-width: 24px;
			min-height: 24px;
			font-size: 24px;
			background-color: $background-secondary;
			border-radius: 100%;

			&:hover {
				background-color: $background-focused;
			}
		}

		.Body {
		}

		.Actions {
			margin-top: $spacing;

			.ActionButton {
				transition: background-color $transition-time;

				background-color: $background-secondary;
				border-radius: $border-radius;

				font-size: $secondary-font-size;

				margin: 0 calc(#{$spacing} / 2);

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					background-color: $background-focused;
				}
			}
		}

		.Icon {
			font-size: 58px;
		}
	}
}
