.Notifications {
	margin: 5px;
	min-width: 2px;
	min-height: 2px;

	.Notification {
		min-width: 300px;
		border-radius: $border-radius;
		padding: 5px;
		background-color: $background-primary;
		color: $foreground-primary;
		font-size: 9pt;

		&.Critical {
			border: 1px solid lightcoral;
		}

		.Title {
			font-size: 12pt;
		}

		.Actions {
			.ActionButton {
				margin: 0 5px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.Icon {
			min-width: 68px;
			min-height: 68px;
			margin-right: 5px;

			image {
				font-size: 58px;
				margin: 5px;
				color: $foreground-primary;
			}

			box {
				min-width: 68px;
				min-height: 68px;
				border-radius: 7px;
			}
		}
	}
}
