$spacing: 8px;

.OverviewToggle {
	transition: background-color $transition-time;

	border-radius: $border-radius;
	background-color: $background-primary-trans;

	.Button {
		margin-left: $spacing;
	}

	.ExpandButton {
		transition: background-color $transition-time;

		padding: $spacing;
		border-radius: 100%;

		&:hover {
			background-color: $background-focused-trans;
		}

		.Icon {
			font-size: 24px;
		}
	}

	.Indicator {
		margin-right: $spacing;
		font-size: 24px;
	}

	&.Active {
		background-color: $accent-trans;
	}

	&:hover {
		background-color: $background-focused-trans;
	}
}
