$spacing: 8px;

.OverviewToggle {
	transition: background-color $transition-time;

	border-radius: $border-radius;
	background-color: $background-secondary-trans;

	min-height: 50px;

	.Button {
		margin-left: $spacing;
	}

	.ExpandButton {
		padding: $spacing;

		.Icon {
			font-size: 24px;
		}
	}

	.Indicator {
		margin-right: $spacing;
		font-size: 24px;
	}

	&.Active {
		background-color: $accent-trans;
	}

	&:hover {
		background-color: $background-focused-trans;
	}
}
