$spacing: 8px;
$icon-size: 24px;
$cover-size: 96px;

.Player {
	background-color: $background-primary-trans;
	border-radius: $border-radius;

	.TopBar {
		.Icon {
			margin-top: $spacing;
			margin-left: $spacing;
			-gtk-icon-size: $icon-size;
		}

		.AppName {
			margin-top: $spacing;
			margin-left: 4px;
			font-size: 11pt;
		}

		.Button {
			transition: background-color $transition-time;
			border-radius: 100%;

			.Icon {
				all: unset;
				-gtk-icon-size: $icon-size;
			}

			&:hover {
				background-color: $background-focused-trans;
			}

			&.ExpandButton {
				padding: $spacing;
			}

			&.CloseButton {
				margin: $spacing;
			}
		}
	}

	.Content {
		padding: $spacing;
		padding-top: 0;

		.Title {
			font-size: 12pt;
		}

		.Slider {
			margin-top: $spacing;
			margin-bottom: 2px;

			trough {
				min-height: $spacing;
			}
		}

		.Cover {
			margin-left: $spacing;

			border-radius: 8px;
			-gtk-icon-size: $cover-size;
			-gtk-icon-size: $cover-size;
		}

		.PlayerButton {
			transition: background-color $transition-time;

			border-radius: 100%;
			padding: $spacing;

			&:hover {
				background-color: $background-focused-trans;
			}

			&:disabled .Icon {
				color: $background-secondary-trans;
			}

			.Icon {
				-gtk-icon-size: 16px;
			}
		}
	}
}
