$spacing: 8px;
$icon-size: 24px;
$cover-size: 96px;

.Player {
	background-color: $background-primary-trans;
	border-radius: $border-radius;

	.TopBar {
		.Icon {
			margin-top: $spacing;
			margin-left: $spacing;
			font-size: $icon-size;

			image {
				-gtk-icon-theme: "Numix-Circle";
			}
		}

		.AppName {
			margin-top: $spacing;
			margin-left: 4px;
			font-size: 11pt;
		}

		.ExpandButton {
			transition: background-color $transition-time;
			border-radius: 100%;
			padding: $spacing;

			&:hover {
				background-color: $background-focused-trans;
			}

			.Icon {
				all: unset;
				font-size: $icon-size;
			}
		}
	}

	.Content {
		padding: $spacing;
		padding-top: 0;

		.Title {
			font-size: 12pt;
		}

		.Slider {
			margin-top: $spacing;
			margin-bottom: 2px;

			trough {
				min-height: $spacing;
			}
		}

		.Cover {
			margin-left: $spacing;

			border-radius: 8px;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			min-width: $cover-size;
			min-height: $cover-size;
		}

		.PlayerButton {
			transition: background-color $transition-time;

			border-radius: 100%;
			padding: $spacing;

			&:hover {
				background-color: $background-focused-trans;
			}

			.Icon {
				font-size: 16px;
			}
		}
	}
}
