@use "sass:color";
@use "../colors.scss";
@use "../common.scss";

.CalendarWindow {
	padding: 0 4px;
	background-color: colors.$background-primary-trans;
	border-radius: common.$border-radius;

	.Calendar {
		font-size: 12pt;
		padding: 4px;
		font-size: 16pt;

		border-radius: common.$border-radius;

		&:selected {
			background-color: colors.$accent-trans;
		}

		&.header {
			background-color: transparent;

			button {
				background-color: pink;
			}
		}

		&.highlight {
			background-color: transparent;
		}

		&:indeterminate {
			color: color.scale(colors.$foreground-primary, $alpha: -75%);
		}
	}
}
