@use "sass:color";
@use "../colors.scss";
@use "../common.scss";

.Calendar {
	margin: 16px;

	calendar {
		border-radius: common.$border-radius;

		&.view {
			font-size: 12pt;
			background-color: colors.$background-primary-trans;

			header {
				margin-top: 8pt;
				margin-left: 4pt;
				margin-right: 4pt;
				margin-bottom: 4pt;
			}

			button {
				background-color: colors.$background-secondary-trans;

				min-width: 24px;
				min-height: 24px;

				margin-left: 4pt;
				margin-right: 4pt;
				border-radius: 100%;

				transition: background-color common.$transition-time;

				&:hover {
					background-color: colors.$background-focused-trans;
				}
			}

			grid {
				margin-bottom: 4pt;
				margin-left: 4pt;
				margin-right: 4pt;

				label {
					&.day-name {
						font-weight: 600;
						margin-bottom: 4pt;
					}

					&.other-month {
						color: gray;
					}

					&.today {
						border-radius: 4pt;
						background-color: colors.$accent-trans;
					}
				}
			}
		}
	}
}
