$spacing: 12px;
$width: 500px;

.AppLauncher {
	background-color: $background-primary-trans;
	border-radius: $border-radius;

	.AppLauncherContent {
		margin: $spacing;
		min-width: $width;

		.Input {
			margin-bottom: $spacing;
		}

		.AppTile {
			margin: 4px 0;
			padding: 4px;
			border-radius: $border-radius;

			.Icon {
				font-size: 42px;
				margin-right: 4px;
			}

			&.Focused {
				background-color: $background-focused-trans;
			}
		}
	}

	image {
		-gtk-icon-theme: "Numix-Circle";
	}
}
