$spacing: 12px;
$height: 500px;
$width: 500px;

.AppLauncher {
	background-color: $background-primary;
	border-radius: $border-radius;

	.AppLauncherContent {
		margin: $spacing;

		.Input {
			margin-bottom: $spacing;
		}

		.AppLauncherContentScrollable {
			min-width: $width;
			min-height: $height;

			.AppTile {
				margin: 4px 0;

				border-radius: $border-radius;
				padding: 4px;

				.Icon {
					font-size: 42px;
					margin-right: 4px;
				}

				&:focus {
					background-color: $background-secondary;
				}
			}
		}
	}
}
