@use "sass:color";

$transparency-amount: -25%;

$foreground-primary: white;

$accent: #61afef;
$accent-trans: color.scale($color: $accent, $alpha: $transparency-amount);

$background-primary: #282c34;
$background-primary-trans: color.scale(
	$color: $background-primary,
	$alpha: $transparency-amount
);
$background-secondary: #454c5a;
$background-secondary-trans: color.scale(
	$color: $background-secondary,
	$alpha: $transparency-amount
);
$background-focused: #656c7e;
$background-focused-trans: color.scale(
	$color: $background-focused,
	$alpha: $transparency-amount
);
