$border-radius: 20px;
$transition-time: 300ms;
$switch-height: 30px;

scale {
	slider {
		border-radius: 100%;
		margin: -8px;

		background-color: $foreground-primary;
	}

	trough {
		min-height: 2px;
		background-color: $foreground-primary;
	}
}

switch {
	min-height: $switch-height;
	border-radius: $border-radius;
	background-color: $background-secondary-trans;

	&.active {
		background-color: $accent-trans;
	}

	slider {
		background-color: $foreground-primary;
		min-height: $switch-height;
		min-width: $switch-height;
		border-radius: 100%;
	}
}

circular-progress {
	font-size: 2px;
}
