@use "./colors.scss";

$border-radius: 20px;
$transition-time: 300ms;
$switch-height: 30px;
$scale-height: 24px;
$font-size: 12pt;

scale {
	slider {
		margin: -$scale-height;
	}

	trough {
		border-radius: $scale-height;
		min-height: $scale-height;
		background-color: colors.$background-secondary-trans;

		highlight {
			border-radius: $scale-height;
			background-color: colors.$accent-trans;
		}
	}
}

switch {
	min-height: $switch-height;
	border-radius: $border-radius;
	background-color: colors.$background-secondary-trans;

	&.active {
		background-color: colors.$accent-trans;
	}

	slider {
		background-color: colors.$foreground-primary;
		min-height: $switch-height;
		min-width: $switch-height;
		border-radius: 100%;
	}
}

circular-progress {
	font-size: 2px;
}

selection {
	background-color: colors.$accent;
}

menu {
	background-color: colors.$background-primary-trans;
	font-size: $font-size;

	separator {
		min-height: 1px;
		background-color: colors.$foreground-primary;
	}

	menuitem {
		padding: 0 8px;

		&:first-child {
			padding-top: 4px;
		}

		&:last-child {
			padding-bottom: 4px;
		}

		&:hover {
			background-color: colors.$background-focused-trans;
		}
	}
}

tooltip {
	font-size: $font-size;
	background-color: colors.$background-primary-trans;
}
