@use "../colors.scss";
@use "../common.scss";

.LockScreen {
	background-size: cover;
	background-position: center;

	.LockScreenForm {
		.Clock {
			font-weight: 800;

			.Time {
				font-size: 60pt;
			}

			.Date {
				font-size: 20pt;
			}
		}

		.Password {
			font-size: 30pt;
			min-width: 500px;
			caret-color: transparent;
		}
	}

	.Blurred {
		filter: blur(16px);
	}
}
