@use "../colors.scss";
@use "../common.scss";

$spacing: 32px;

.LockScreen {
	background-size: cover;
	background-position: center;

	.LockScreenContent {
		background-color: colors.$background-primary;
		border-radius: common.$border-radius;

		.Clock {
			margin: $spacing;

			.Time {
				font-size: 30pt;
			}

			.Date {
				font-size: 22pt;
			}
		}

		.Password {
			margin: $spacing;

			min-height: 32px;
			min-width: 300px;
			background-color: colors.$background-secondary;
			border-radius: 16px;
		}
	}
}
