$spacing: 12px;
$width: 500px;

.PopupSearch {
	background-color: $background-primary-trans;
	border-radius: $border-radius;

	.PopupSearchContent {
		margin: $spacing;
		min-width: $width;

		.Input {
			padding: 4px;
			margin-bottom: $spacing;
			border-radius: $border-radius;
			background-color: $background-secondary-trans;

			image {
				margin-right: 4px;
			}
		}

		.PopupSearchTile {
			margin: 4px 0;
			padding: 4px;
			border-radius: $border-radius;

			&.Focused {
				background-color: $background-focused-trans;
			}
		}
	}
}
