.ProgressPopup {
	margin: 8px;
	padding: 8px;
	min-width: 35px;
	min-height: 150px;

	background-color: $background-primary-trans;
	border-radius: $border-radius;

	.Progress {
		margin: 8px;

		trough block {
			border-radius: $border-radius;
			background-color: $background-secondary-trans;
		}

		trough block.filled {
			border-radius: $border-radius;
			background-color: $accent-trans;
		}
	}

	.Icon {
		color: $foreground-primary;
		-gtk-icon-size: 26px;
	}

	&.Warning {
		.Progress trough block.filled {
			background-color: red;
		}

		.Icon {
			color: red;
		}
	}
}
