@use "../colors.scss";
@use "../common.scss";

.ProgressPopup {
	margin: 8px;
	padding: 8px;
	min-width: 35px;
	min-height: 150px;

	background-color: colors.$background-primary-trans;
	border-radius: common.$border-radius;

	.Progress {
		margin: 8px;

		trough block {
			border-radius: common.$border-radius;
			background-color: colors.$background-secondary-trans;
		}

		trough block.filled {
			border-radius: common.$border-radius;
			background-color: colors.$accent-trans;
		}
	}

	.Icon {
		color: colors.$foreground-primary;
		-gtk-icon-size: 26px;
	}

	&.Warning {
		.Progress trough block.filled {
			background-color: red;
		}

		.Icon {
			color: red;
		}
	}
}
