.ProgressPopup {
	margin: 8px;
	padding: 8px;
	min-width: 35px;

	background-color: $background-primary-trans;
	border-radius: $border-radius;

	.Progress {
		background-color: $foreground-primary;
		color: $accent;
		min-width: 32px;
		font-size: 2px;

		.Icon {
			color: $foreground-primary;
			font-size: 20px;
		}
	}
}
