$bar-border-radius: 15px;
$bar-height: 30px;
$section-padding: 8px;

.Bar {
	margin: 4px;
	margin-bottom: 0;

	.Workspaces {
		background-color: $background-primary-trans;
		border-radius: $bar-border-radius;

		.Workspace {
			transition: background-color $transition-time;

			border-radius: $bar-border-radius;

			min-width: $bar-height;
			min-height: $bar-height;

			&.Active {
				background-color: $accent-trans;
			}

			&:hover {
				background-color: $background-focused-trans;
			}
		}
	}

	.Clock {
		transition: background-color $transition-time;
		background-color: $background-primary-trans;
		border-radius: $bar-border-radius;

		padding: 0 16px;

		.Date {
			font-size: 8.5pt;
			margin-top: -4px;
		}

		&:hover {
			background-color: $background-focused-trans;
		}
	}

	.Tray {
		padding: 0 $section-padding;

		background-color: $background-primary-trans;
		border-radius: $bar-border-radius;
		min-height: 30px;

		.Icon {
			font-size: 20px;
		}
	}

	.QuickSettings {
		transition: background-color $transition-time;

		background-color: $background-primary-trans;
		border-radius: $bar-border-radius;
		padding: 0 $section-padding;
		min-height: $bar-height;

		.Indicator {
			font-size: 16px;

			&.Active {
				color: $accent-trans;
			}
		}

		&.Active {
			background-color: $accent-trans-trans-trans;
		}

		&:hover {
			background-color: $background-focused-trans;
		}
	}
}
