@use "../colors.scss";
@use "../common.scss";

$bar-border-radius: 15px;
$bar-height: 30px;
$section-padding: 8px;

.Bar {
	margin: 4px;
	margin-bottom: 0;

	.Workspaces {
		background-color: colors.$background-primary-trans;
		border-radius: $bar-border-radius;

		.Workspace {
			transition: background-color common.$transition-time;

			border-radius: $bar-border-radius;

			min-width: $bar-height;
			min-height: $bar-height;

			&.Active {
				background-color: colors.$accent-trans;
			}

			&:hover {
				background-color: colors.$background-focused-trans;
			}
		}
	}

	.BarClock {
		&.Active {
			.Clock {
				background-color: colors.$accent-trans;
			}
		}

		&:hover {
			.Clock {
				background-color: colors.$background-focused-trans;
			}
		}
	}

	.Tray {
		padding: 0 $section-padding;

		background-color: colors.$background-primary-trans;
		border-radius: $bar-border-radius;
		min-height: 30px;

		.Icon {
			-gtk-icon-size: 20px;
		}

		.menu {
			contents {
				background-color: colors.$background-primary;
				border-radius: 12px;
				padding: 4px;

				modelbutton {
					padding: 4px;
					border-radius: 8px;

					&:hover {
						background-color: colors.$background-focused;
					}
				}
			}
		}
	}

	.QuickSettings {
		transition: background-color common.$transition-time;

		background-color: colors.$background-primary-trans;
		border-radius: $bar-border-radius;
		padding: 0 $section-padding;
		min-height: $bar-height;

		.Indicator {
			-gtk-icon-size: 16px;

			&.Active {
				color: colors.$accent;
			}
		}

		&.Active {
			background-color: colors.$accent-trans;
		}

		&:hover {
			background-color: colors.$background-focused-trans;
		}
	}
}
