$bar-border-radius: 15px;
$bar-height: 30px;
$workspace-size: 20px;
$section-padding: 5px;

.Bar {
	.Section {
		background-color: $background-primary;

		&.Left {
			padding: 0 $section-padding;
			border-bottom-right-radius: $bar-border-radius;
		}

		&.Center {
			padding: 0 $section-padding;
			border-bottom-left-radius: $bar-border-radius;
			border-bottom-right-radius: $bar-border-radius;
		}

		&.Right {
			padding-left: $section-padding;
			border-bottom-left-radius: $bar-border-radius;
		}

		.Clock {
			padding: 0 8px;

			.Date {
				font-size: 8.5pt;
				margin-top: -4px;
			}
		}

		.Workspaces {
			.Workspace {
				transition: background-color $transition-time;

				border-radius: $bar-border-radius;

				min-width: 20px;
				min-height: 20px;

				&.Active {
					background-color: $accent;
				}

				&:hover {
					background-color: $background-focused;
				}
			}
		}

		.Tray {
			.Icon {
				font-size: 20px;
			}
		}

		.AppletButton {
			transition: background-color $transition-time;

			padding: 0 4px;

			border-radius: $bar-border-radius;

			.Indicator {
				font-size: 16px;

				&.Active {
					color: $accent;
				}
			}

			&.Active {
				background-color: $accent;
			}

			&:hover {
				background-color: $background-focused;
			}
		}
	}
}
