$spacing: 16px;

.AudioPage {
	.Section {
		.SectionHeader {
			font-size: 14pt;
			padding-bottom: 4px;
		}
	}
}

.VolumeSlider {
	.Icon {
		font-size: 24px;
	}

	.Slider {
		padding: 8px;
	}

	.PercentageLabel {
		min-width: 40px;
	}
}
