$spacing: 8px;

.BluetoothPage {
	.Device {
		transition: background-color $transition-time;
		background-color: $background-primary-trans;

		border-radius: 20px;
		padding: $spacing;
		margin-bottom: $spacing;

		.Icon {
			font-size: 24px;
			margin-right: $spacing;
		}

		&.Active {
			background-color: $accent-trans;
		}

		&:hover {
			background-color: $background-focused-trans;
		}
	}
}
