.Page {
	.Device {
		border-radius: 20px;
		padding: $spacing;

		.Icon {
			font-size: 24px;
			margin-right: $spacing;
		}

		&.Active {
			background-color: $accent-trans;
		}

		&:hover {
			background-color: $background-focused-trans;
		}
	}
}
