$spacing: 8px;

.Page {
	.Scan {
		transition: background-color $transition-time;
		border-radius: 100%;

		min-width: 30px;
		min-height: 30px;

		margin-right: 8px;

		&:hover {
			background-color: $background-focused-trans;
		}

		&.Active {
			background-color: $accent-trans;
		}
	}

	.Icon {
		font-size: 24px;
		color: $foreground-primary;
	}

	.Wifi {
		transition: background-color $transition-time;
		background-color: $background-primary-trans;

		border-radius: 20px;
		padding: $spacing;
		margin-bottom: $spacing;

		.Icon {
			font-size: 24px;
			margin-right: $spacing;
		}

		&.Active {
			background-color: $accent-trans;
		}

		&:hover {
			background-color: $background-focused-trans;
		}
	}
}
