@use "sass:color";
@use "../colors.scss";
@use "../common.scss";
@use "./Common.scss" as quick-settings-common;

$spacing: 8px;

.Page {
	.Scan {
		transition: background-color common.$transition-time;
		border-radius: 100%;

		min-width: 30px;
		min-height: 30px;

		margin-right: 8px;

		&:hover {
			background-color: colors.$background-focused-trans;
		}

		&.Active {
			background-color: colors.$accent-trans;
		}
	}

	.Icon {
		-gtk-icon-size: 24px;
		color: colors.$foreground-primary;
	}

	.Wifi {
		transition: background-color common.$transition-time;
		background-color: colors.$background-primary-trans;

		border-radius: 20px;
		padding: $spacing;
		margin-bottom: $spacing;

		.Icon {
			-gtk-icon-size: 24px;
			margin-right: $spacing;
		}

		.InfoBox {
			padding: 2pt 4pt 2pt 4pt;
			border-radius: 5pt;
			background-color: color.adjust(
				colors.$background-focused-trans,
				$lightness: -30%
			);
		}

		&.Active {
			background-color: colors.$accent-trans;
		}

		&:hover {
			background-color: colors.$background-focused-trans;
		}
	}
}
