$avatar-size: 40px;

.PageHeader {
	.Label {
		font-size: 14pt;
	}

	.PowerMenu {
		.PowerButton {
			transition: background-color $transition-time;
			border-radius: 100%;

			min-width: 42px;
			min-height: 42px;

			&:hover {
				background-color: $background-focused-trans;
			}
		}

		.Icon {
			font-size: 30px;
			color: $foreground-primary;
		}
	}
}

.OverviewPage {
	.Volume {
		margin: $spacing 0;

		background-color: $background-primary-trans;
		border-radius: $border-radius;

		.StreamContent {
			margin-left: $spacing;
		}

		.ExpandButton {
			transition: background-color $transition-time;

			padding: $spacing;
			border-radius: 100%;

			&:hover {
				background-color: $background-focused-trans;
			}

			.Icon {
				font-size: 24px;
			}
		}
	}
}
