$avatar-size: 40px;

.PageHeader {
	.Avatar {
		border-radius: 100%;
		min-width: $avatar-size;
		min-height: $avatar-size;
		background-size: cover;
	}

	.Username {
		margin-left: 8px;
		font-size: 12pt;
	}

	.PowerMenu {
		.PowerButton {
			border-radius: 100%;

			min-width: 42px;
			min-height: 42px;

			&:hover {
				background-color: $accent-trans;
			}
		}

		.Icon {
			font-size: 30px;
			color: $foreground-primary;
		}
	}
}

.OverviewPage {
	.Volume {
		.ExpandButton {
			$expand-button-size: 30px;

			border-radius: 100%;
			min-height: $expand-button-size;
			min-width: $expand-button-size;

			&:hover {
				background-color: $background-focused-trans;
			}

			.Icon {
				font-size: 24px;
			}
		}
	}
}
