@import "./Audio.scss";
@import "./common/OverviewToggle.scss";

.QuickSettingsWindow {
	.QuickSettings {
		min-width: 300px;
		background-color: $background-primary;
		border-radius: $border-radius;
	}
}
