@import "./Overview.scss";
@import "./Networks.scss";
@import "./Audio.scss";
@import "./Bluetooth.scss";
@import "./Notifications.scss";
@import "./Media.scss";
@import "./common/Common.scss";

$indicator-size: 32px;
$spacing: 16px;

.QuickSettingsWindow {
	.QuickSettings {
		margin: $spacing;

		.PageButtons {
			background-color: $background-primary-trans;
			border-radius: $indicator-size;

			margin-bottom: $spacing;

			.PageButton {
				transition: background-color $transition-time;

				padding: 8px;
				border-radius: 100%;

				min-width: $indicator-size;
				min-height: $indicator-size;

				margin: 0 4px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				.Indicator {
					font-size: $indicator-size;

					&.Active {
						color: $accent;
					}
				}

				&.Active {
					background-color: $accent-trans;
				}

				&:hover {
					background-color: $background-focused-trans;
				}
			}
		}

		.Page {
			padding: $spacing;
			background-color: $background-primary-trans;
			border-radius: $border-radius;

			.PageHeader {
				margin-bottom: 8px;

				.Label {
					font-size: 16pt;
				}
			}
		}
	}
}
