@use "../colors.scss";
@use "../common.scss";
@use "./Overview.scss";
@use "./Networks.scss";
@use "./Audio.scss";
@use "./Bluetooth.scss";
@use "./Media.scss";
@use "./common/Common.scss";
@use "./Common.scss" as quick-settings-Common;

.QuickSettingsWindow {
	.QuickSettings {
		margin: quick-settings-Common.$spacing;

		.PageButtons {
			background-color: colors.$background-primary-trans;
			border-radius: quick-settings-Common.$indicator-size;

			margin-bottom: quick-settings-Common.$spacing;

			.PageButton {
				transition: background-color common.$transition-time;

				padding: 8px;
				border-radius: 100%;

				min-width: quick-settings-Common.$indicator-size;
				min-height: quick-settings-Common.$indicator-size;

				margin: 0 4px;

				&:first-child {
					margin-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				.Indicator {
					-gtk-icon-size: quick-settings-Common.$indicator-size;

					&.Active {
						color: colors.$accent;
					}
				}

				&.Active {
					background-color: colors.$accent-trans;
				}

				&:hover {
					background-color: colors.$background-focused-trans;
				}
			}
		}

		.Page {
			padding: quick-settings-Common.$spacing;
			background-color: colors.$background-primary-trans;
			border-radius: common.$border-radius;

			.PageHeader {
				margin-bottom: 8px;

				.Label {
					font-size: 16pt;
				}

				.IconButton {
					transition: background-color common.$transition-time;
					border-radius: 100%;

					min-width: 30px;
					min-height: 30px;

					background-color: colors.$background-secondary-trans;

					&:hover {
						background-color: colors.$background-focused-trans;
					}

					.Icon {
						-gtk-icon-size: 26px;
						color: colors.$foreground-primary;
					}
				}
			}
		}
	}
}
