.bar {
	.date {
		font-size: 8.5pt;
	}

	.workspaces {
		.workspace {
			background-color: rgba($color: lightgreen, $alpha: 0.5);

			border-width: 2px;
			border-radius: 100%;
			border-style: solid;
			border-color: green;

			min-width: 30px; // FIXME

			&.active {
				background-color: blue;
			}
			&:hover {
				background-color: pink;
			}
		}
	}
}
